html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: center cover;
    background-size: 100% 100%;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    height: 100%;
    /*border: solid 1px #000*/;
}


/* item title*/

.item-title {
    position: absolute;
    width: 50%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    /*border: solid 1px red;*/
    color: #000;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(245,245,220,1);
}

.item-title h1 { 
    /*padding-top: 120px;
    margin-top: 100px;*/
}

.item-title p {
    font-weight: 300;
    margin: 2px;
    font-family: 'Lato', sans-serif;
}

.item-title li{
    list-style: none;
    display:inline;
    letter-spacing: 5px;
    color: blue;
}

/*item content*/

.item-content {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #000;
    font-size: 20px;
    overflow: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-image: url("../images/image2.jpg")
}

.item-content p {
    padding: 25px;
    text-align: justify;
    line-height: 40px;
}

.title{
    padding-top: 40%
}



/*extras*/

.image-rounded{
    border-radius: 50%;
}

ul.social {
    padding: 0;
}


/*margins*/

.mt-30 {
    margin-top: 30px;
}


.mt-90 {
    margin-top: 90px;
}


.mb-0{
    margin-bottom: 0;
}

.pt-0{
    padding-top: 0;
}